@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: black;
}
.coloredTexth1 {
	background: linear-gradient(
		90deg,
		#ff0000,
		#ffff00,
		#ff00f3,
		#0033ff,
		#ff00c4,
		#ff0000,
		#000000,
		#ffffff,
		#8e0505,
		#0d058e,
		#df00ba,
		#ff0c49
	);
	background-size: 400%;
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 5px;
	font-weight: 600;
	word-spacing: 5px;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	animation: animate 10s linear infinite alternate;
}
@keyframes animate {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 300%;
	}
}
